<%= stylesheet_link_tag "main.css" %>
<div class="image" id="index-div">
    <div class="card half text-center">
        <div class="card-header">
            Welcome to PokeWiki!
        </div>
        <div class="card-body">
            <% if params[:notice] %>
                <div class="alert alert-danger" role="alert">
                 <%= params[:notice] %>
                </div>
            <% end %>
            <h5 class="card-title">Search For A Pokemon</h5>
            <p class="card-text">Enter name of the pokemon you are looking for in the field below</p>
            <div class="form">
                <%= bootstrap_form_with url: search_path, method: :post do |f| %>
                <%= f.text_field :name , placeholder: "Enter name here", required: true %>
                <%= f.submit "Search", class: "btn btn-primary"%>
                <% end %>
            </div>
        </div>
    </div>
</div>